body {
    background-color: #ffffff;
}

.logo {
    background-color: gold;
    height: 100px;
}

.menu {
    width: 100%;
    background-color: #6559c4;
    text-align: center;
    display: flex;
    justify-content: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.subItemMenu {
    float: left;
    width: 3rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position:relative;
    /* background-color: green; */
    padding-left: 10px;
    color: white;
    margin: 10px;
    border: 0px;
    border-left: 1px solid #ffffff;;
    border-style: solid;
    
}

.subItemMenu:hover {
    float: left;
    width: 8rem;
    position:relative;
    color: #ffffff80;
    margin: 10px;
    border: 0px;
    border-left: 1px solid #ffffff;
    border-style: solid;
}

.topbar {
    height: 100%;
    display: flex;
    position:relative;
    /* background-color: pink; */
}

.conteudo {
    /* Center horizontally*/
    position:relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center
    
}