body {
    background-color: #ffffff;
}

.logo {
    background-color: gold;
    height: 100px;
}

.menu {
    width: 100%;
    background-color: #6659c4;
    text-align: center;
    display: flex;
    justify-content: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.subItemMenu {
    float: left;
    width: 3.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position:relative;
    color: white;
    margin: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    padding-left: 25px;
    /* padding: auto; */
    border: 0px;
    border-left: 1px solid #ffffff;
    border-style: solid;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    transition-duration: 0.4s;
    
    
}

.subItemMenu:hover {
    float: left;
    width: 6rem;
    position:relative;
    color: #ffffff80;
    margin: 10px;
    border: 0px;
    border-left: 1px solid #ffffff;
    border-style: solid;
    text-decoration: underline;
}

.subItemMenu:last-child {
    padding-right: 10px
}

.subItemMenu:active {
    text-decoration: underline;
    color: #99a63b;
}

.topbar {
    height: 100%;
    display: flex;
    position:relative;
    /* background-color: pink; */
}

.conteudo {
    position:relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    margin-top: 3rem;
}

.titulo {
    position:relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;

}


.buttonCadastro {
    background-color: #6559c4; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
    margin-top: 2rem;
  }

.buttonCadastro:hover {
    background-color: #ffffff; /* Green */
    color: #6559c4;
    border: 1px;
    border-color: #6559c4;
    border-style: solid;
}

.buttonCadastro:active{
    background-color: #a09ace;
    color: black;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
    
}

.tabela {
    margin-top: 20px;
    width: 100%;
    border-collapse:collapse;

}

th, td {
border: none;
padding: 8px;
text-align: left;

}

th {
    background-color: #6559c4;
    color: #ffffff;
}

tr {
    border-radius: 1px;
    border-style: none;
}


tr:hover:not(:first-child) {
    background-color: gainsboro;

}

.buttonEdicao {
    text-decoration: none;
    color: #6559c4;
    font-size: 20px;
  }

.buttonEdicao:hover {
    text-decoration: underline;
    color: #1d1a38;
}

.buttonEdicao:active {
    text-decoration: underline;
    color: #1d1a38;
    color: #a09ace;
}

.buttonRemover {
    text-decoration: none;
    color: rgb(255, 50, 50);
    font-size: 20px;
  }

.buttonRemover:hover {
    text-decoration: underline;
    color: rgb(107, 22, 22);

}

.buttonRemover:active {
    text-decoration: underline;
    color: rgb(122, 77, 77);

}

.tituloSubPagina {
    position:relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    margin-bottom: 30px;
}

input{
    height: 2rem;
    margin: 3px;
    color: #1d1a38;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 1px;
    border-color: #6559c4;
    border-style: solid;
    margin-top: 2rem;
}

input:focus{
    background-color: gainsboro;
    border: 3px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    border-radius: 8px;
    border-style: solid;
    border-color: #4a4288;
    outline:none;
}

#cadastrar,#deletar{
    background-color: #6559c4; 
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
    margin-top: 2rem;
}

#cadastrar:hover,#deletar:hover {
    background-color: #ffffff; /* Green */
    color: #6559c4;
    border: 1px;
    border-color: #6559c4;
    border-style: solid;
}

#cadastrar:active,#deletar:active{
    background-color: #a09ace;
    color: black;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
    
}

.voltar{
    background-color: white; 
    color: #6559c4;
    padding: 5.5px 15px;
    padding-bottom: 4px;
    margin-top: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 1px;
    border-color: #6559c4;
    border-style: solid;
    margin-top: 2rem;
}

.voltar:hover {
    background-color: #6559c4; /* Green */
    color: white;
    border: 1px;
    border-color: white;
    border-style: solid;
}

.voltar:active{
    background-color: #a09ace;
    color: black;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
    
}


.boxInput {
    text-align: center;
    color: #6559c4;;
}

.labelInput {
    color: rgb(255, 50, 50);
}

.labelInputRequired {
    color: rgb(255, 50, 50);
    font-weight: bold;
}